package ${packageName}.dto;

#foreach ($import in $importList)
import ${import};
#end
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

/**
 * ${functionName}响应
 *
 * @author ${author}
 * @since ${datetime}
 */
@Data
@Schema(description = "${functionName}响应")
public class ${ClassName}Response {

#foreach ($column in $listColumns)
#if($column.columnComment)
    @Schema(description = "$column.columnComment")
#end
    private $column.javaType $column.javaField;

#end
}
